
cudaWraperL300/.vs/cudaWraperL300/v16/.suo
cudaWraperL300/.vs/cudaWraperL300/v16/Browse.VC.db
*.opendb
*.ipch
*.log
*.tlog
*.pdb
*.txt
*.exe
*.exp
*.ilk
cudaWraperL300/cudaWraperL300/x64/Debug/kernel.cu.obj
*.obj
*.obj
